/app/lorawan_otaa/build
/build
/build
build/.ninja_deps
build/app/libapp.a
build/build.ninja
build/build_info.yml.bak
build/CMakeCache.txt
build/CMakeFiles/app.dir/src/main.c.obj
build/zephyr/.config
build/zephyr/CMakeFiles/zephyr.dir/misc/generated/configs.c.obj
build/zephyr/CMakeFiles/zephyr_final.dir/isr_tables.c.obj
build/zephyr/drivers/flash/CMakeFiles/drivers__flash.dir/flash_stm32.c.obj
build/zephyr/drivers/flash/libdrivers__flash.a
build/zephyr/drivers/spi/CMakeFiles/drivers__spi.dir/spi_ll_stm32.c.obj
build/zephyr/drivers/spi/libdrivers__spi.a
build/zephyr/dts.cmake
build/zephyr/edt.pickle
build/zephyr/include/generated/zephyr/autoconf.h
build/zephyr/include/generated/zephyr/devicetree_generated.h
build/zephyr/isr_tables.c
build/zephyr/kernel/CMakeFiles/kernel.dir/poll.c.obj
build/zephyr/kernel/libkernel.a
build/zephyr/libzephyr.a
build/zephyr/misc/generated/configs.c
build/zephyr/zephyr.bin
build/zephyr/zephyr.dts
build/zephyr/zephyr.dts.pre
build/zephyr/zephyr.elf
build/zephyr/zephyr.hex
build/zephyr/zephyr.map
build/zephyr/zephyr.stat
build/zephyr/zephyr_final.map
build/zephyr/zephyr_pre0.elf
build/zephyr/zephyr_pre0.map
